.links {
  grid-area: nav;
  grid-row: 3;
}

.info {
  color: $black;
  grid-area: content;
  grid-row: 3;
}

.info h1 {
  font-size: 1.3em;
  padding-bottom: 10px;
  font-weight: 400;
}

.links ul {
  list-style: none;
}

.links ul li {
  padding-bottom: 9px;
  text-decoration: underline;
}