$shadow-color: rgba(0, 0, 0, 0.09);

.projects {
  grid-area: content;
  grid-row: 3 / 5;
}

.projects-project {
  color: $black;
  background: white;
  box-shadow: 0 2px 9px 0px $shadow-color;
  border-radius: 20px;
  margin-bottom: 15px;
}

.projects-project div {
  padding: 10px 15px;
}

.projects-project a {
  float: right;
  font-size: 0.9em;
  text-decoration: none;
}